<ion-content class= " bg-style ion-padding">
  <h1>Rallikysymykset</h1>
  <h3>Aikasi oli {{ durationSeconds }} sekuntia ja sait {{ oikeavastaus }}  oikein</h3>
  <h2>{{ feedback }}</h2>
  <p>Kiitos vastaamisesta ja Paina ralliautoa nähdäksesi oikeat vastaukset</p>
  <img src="../../assets/imgs/rallycar.png" (click)="goAnswers()" tappable />
 </ion-content>
 
