ion-content {
    .title {
        font-size: 2em;
        font-weight: bold;
        font-family: fantasy;
    }
    .question {
        font-size: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .quote {
        font-size: 1.5em;
        font-weight: bold;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .option {
        font-size: 1em;
    }
    .icon {
        padding-right: 0.25em;
    }
    
    .bg-style {
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;

    }

}



