<ion-content class=" bg-style ion-padding">
    <p class='title'>Rallikysymykset</p>
    <p class='question'>Kysymys: {{questionCounter}}/{{questions?.length}}:
      Kokeile tietämystäsi!</p>
      <p class='quote'>
        <ion-icon class="icon" name="body"></ion-icon>{{activeQuestion?.quote}}
      </p>
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of activeQuestion?.options; let i=index">
            <ion-label class='option'>{{option}}</ion-label>
              <ion-radio *ngIf=!isCorrect (ionSelect)="checkOption(i, activeQuestion)">
              </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <p>{{feedback}}</p>
      <img src="../../assets/imgs/rallycar.png"
        (click)="setQuestion()" tappable />
  </ion-content>
  