<ion-content class=" bg-style ion-padding">
    <p class='title'>Alla näet oikeat vastaukset. Kiitos osallistumisesta!</p>
      <ion-list>
        <ion-item *ngFor="let item of questions; index as i">
              <ion-col size="2">{{ i + 1 }}</ion-col>
            <ion-col>{{item?.quote}}  OIKEA VASTAUS: {{item?.options[item?.correctOption]}} </ion-col>
          </ion-item>
        </ion-list>
    <p>Paina ralliautoa palataksesi alkuun</p>
    <img src="../../assets/imgs/rallycar.png" (click)="goHome()" tappable />
   </ion-content>
   
  
