<ion-content class=" bg-style ion-padding">
  <p class='title'>Tämä on Rallivisa!</p>
  <h2 class='question'>
    Sinulle tulee 6 kysymystä ja aihepiirinä on otsikon mukaisesti ralli. Voit kokeilla tietämystäsi
  kinkkisten kysymysten parissa. Onnea visaan!</h2>
    <img src="../../assets/imgs/rallycar.png" /><br/> <br/> 
      <ion-button href="/question" color="dark" (click)="goQuestions()">Siirry visaan</ion-button>
</ion-content>
